@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

.App{
    background-color: burlywood;
    font-family: 'Kalam', cursive;
    text-align: center;
    color: rgb(0, 0, 0);
}

.quoteBtn {

    font-size: 30px;
    padding: 12px;
    border-radius: 12px;
    background-color: rgb(56, 32, 2);
    color: burlywood;
    transition-duration: 0.4s;
    cursor: pointer;
}

p {
    font-size: 35px;
}

button:hover {
    background-color: transparent;
    color: black;
}
i{
    cursor: pointer;
    color:rgb(56, 32, 2) ;
}
/* ********************* */

